*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(netflix.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}
.back{
    background: rgba(0, 0, 0, 0.7);
    height: 100vh;
}
.register{
    margin-top: 50px;
}

.logo{
    color: red;
    font-size: 30px;
    width: 60%;
    margin-top: 30px;
    margin-left: 12%;
    font-weight: bolder;
}

.logo-1{
    display: flex;
}
.content{
    margin-top: 150px;
    color: white;
    text-align: center;
    padding: 10px;
}
#btn-1{
    background-color: red;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    border-radius: 3px;
    text-align: right;
    margin: 5px;
    font-size: 18px;
}

#btn-2{
    background-color: red;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    border-radius: 3px;
    float: right;
    text-align: right;
    margin: 5px;
    font-size: 18px;
}


#h-1{
    font-size: 50px;
    font-weight: 900;
    margin: 10px;
}

#h-2{
    font-size: 30px;
    margin: 10px;
}

#h-3{
    font-size: 20px;
    margin: 10px;
}